* {
  margin: auto;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: auto;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
}
.top-left img {
  width: 100px;
  height: 40px;
}
.top-center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.top-center ul li {
  list-style: none;
  padding: 10px 25px;
  border-radius: 5px;
}
.top-center ul li:hover {
  background-color: #5eb6e1;
}

.top-center ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.main {
  width: 100%;
  height: 916px;
  background-image: url('/images/girl-resting-af.png');
  background-position: 100%;
  color: white;
  object-fit: cover;
  background-position: 25%;
}
/* media for mobile */
@media screen and (max-width: 740px) {
  .ab-right {
    display: none;
  }
}
.main-content {
  position: relative;
  left: 10%;
  top: 30%;
  font-size: 20px;
}
.main-h {
  opacity: 0.75;
}
.main-button1 {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
  background-color: rgb(94, 182, 225);
  border: none;
  border-radius: 5px;
}
.main-left {
  width: 30px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main-left i {
  border-top: 1px solid black;
  display: flex;
  color: grey;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
}
.down {
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.down-product {
  width: 350px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.aa {
  background-image: url(/images/Group\ 135.png);
}
.bb {
  background-image: url(/images/strong-athletic.png);
}
.cc {
  background-image: url(/images/muscular-attrac.png);
}
.down-product-button1 {
  height: 50px;
  width: 100px;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 108, 44);
  border: none;
}
.down-product-button2 {
  height: 50px;
  width: 100px;
  color: white;
  font-weight: bold;
  background-color: rgb(148, 91, 159);
  border: none;
}
.down-product-button3 {
  height: 50px;
  width: 100px;
  color: white;
  font-weight: bold;
  background-color: #5eb6e1;
  border: none;
}
.down-product-p {
  opacity: 0.75;
}
.aboutus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1520px;
}
.aboutus-left {
  width: 30%;
  margin: 60px;
  height: 29%;
}
.aboutus-left-h {
  color: rgb(255, 108, 44);
}
.aboutus-left-h1 {
  margin-bottom: 10px;
}
.aboutus-left-p1 {
  margin-bottom: 10px;
  color: rgb(255, 108, 44);
}
.aboutus-left-p2 {
  margin-bottom: 10px;
}
.aboutus-left-button1 {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
  background-color: rgb(94, 182, 225);
  border: none;
  border-radius: 5px;
}
.aboutus-right {
  display: flex;
  align-items: center;
  width: 40%;
  margin-right: 65px;
}
.aboutus-right img {
  margin: 20px;
  height: 300px;
}
a {
  text-decoration: none;
}
.clasess {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: rgb(21, 21, 21);
  width: 100%;
  position: relative;
}
/* start buy */
.popup {
  width: 500px;
  height: 400px;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: 0.4s;
  z-index: 1000;
}
.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 60px 0 10px;
}
.popup button {
  width: 100%;
  margin-top: 100px;
  padding: 10px 0;
  background: orange;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #000;
  opacity: 0.5;
}

/* news */
.clasess hr {
  width: 20%;
}
.clasess-top {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.clasess-top p {
  margin-top: 30px;
  width: 80%;
  text-align: center;
}
.services {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.single-img {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column-reverse;
  overflow: hidden;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}
.img-1 {
  background-image: url(/images/fit-young-wo.png);
  background-size: cover;
  background-position: center;
}
.img-2 {
  background-image: url(/images/woman-doing-exe.png);
  background-size: cover;
  background-position: center;
}
.img-3 {
  background-image: url(/images/fitness-days-go.png);
  background-size: cover;
  background-position: center;
}
.img-4 {
  background-image: url(/images/woman-exercisin.png);
  background-size: cover;
  background-position: center;
}
.img-5 {
  background-image: url(/images/senior-woman-do.png);
  background-size: cover;
  background-position: center;
}
.img-6 {
  background-image: url(/images/keep-holding-go.png);
  background-size: cover;
  background-position: center;
}
.img-text {
  background: rgb(68, 69, 69);
  opacity: 0.75;
  padding: auto;
  width: 100%;
  height: auto;
  line-height: 25px;
  transform: translate(0, 220px);
  transition: 0.5s ease;
  text-align: center;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.img-text hr {
  width: 25%;
  color: white;
  background: rgb(255, 255, 255);
}
.img-text h4 {
  line-height: 15px;
  padding: 0;
  margin: 16px 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: 25px;
}
.services button {
  background: white;
  color: black;
  padding: 10px 35px;
  border: none;
  border-radius: 50px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 10px;
}
.single-img:hover .img-text {
  transform: translate(50%, -60%);
  background: rgb(79, 159, 233);
  /* opacity: 0.75; */
  margin: 0;
  width: 50%;
}
.meet {
  width: 100%;
  max-width: 1520px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.meet-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.meet-header-p {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.75;
  width: 70%;
}
.meet-header-h {
  margin-bottom: 40px;
  font-size: 40px;
}
.meet-header-h hr {
  width: 25%;
  background-color: #5eb6e1;
}
.meet-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}
.meet-main-product {
  width: 250px;
  height: 350px;
  margin: 20px;
}
.meet-main-product-top {
  width: 250px;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center center;
  background-image: url(/images/brunette-woman-.png);
}

.meet-main-product-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 1px gray;
  width: 250px;
  height: 30%;
}
.meet-main-product-down p {
  opacity: 0.75;
}
.meet-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.meet-footer-button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
  background-color: rgb(94, 182, 225);
  border: none;
  border-radius: 5px;
}
.testmonial {
  width: 100%;
  height: 916px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  position: relative;
}
.testmonial-button button {
  width: 50px;
  height: 50px;
  border: 50%;
  color: black;
  border-radius: 50%;
  background-color: #5eb6e1;
  color: white;
  font-size: 30px;
  margin: 50px;
}
.testmonial-button {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  transform: translate(0px, -100px);
}

.testmonial-al {
  background-color: rgb(24, 26, 31);
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 80px;
}

.testmonial-al1 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.testmonial-p {
  width: 500px;
}
.testmonial-p {
  opacity: 0.75;
  margin-bottom: 30px;
}
.testmonial-h {
  margin-bottom: 30px;
}

.testmonial-footer img {
  width: 60px;
  height: 60px;
}
.testmonial-footer .foot {
  opacity: 0.75;
}
.testmonial-h hr {
  width: 20%;
  background-color: #5eb6e1;
}

.news {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.news-header hr {
  width: 5%;
  background-color: #5eb6e1;
}
.news-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.news-main-product {
  width: 350px;
  height: 450px;
  background-color: black;
  color: white;
  margin: 40px;
}
.product-tong {
  margin: 20px;
}
.product-tong-top img {
  width: 300px;
  height: 200px;
}
.product-tong-center {
  text-align: start;
}
.product-tong-center h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(81, 155, 190);
}
.product-tong-center p {
  margin-bottom: 30px;
}
.product-tong-bottom {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.product-tong-bottom p {
  margin: -5px 0 0 0;
}
.tong-bottom {
  display: flex;
}
.tong-bottom i {
  margin-right: 10px;
  color: rgb(81, 155, 190);
}
.contactus {
  width: 100%;
  height: auto;
  background-color: rgb(40, 47, 47);
  color: white;
  flex-wrap: wrap;
}
.contactus-top h1 {
  margin-bottom: 5px;
}
.contactus-top hr {
  width: 20%;
  border-top: 2px solid #5eb6e1;
  margin: 0;
}
.contactus-top {
  display: flex;
  height: auto;
  margin-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  .contactus-top {
    height: 700px;
  }
}
@media screen and (min-width: 740px) and(max-width: 1023px) {
  .contactus-top {
    height: 300px;
  }
}
.contactus-top-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 50%;
  margin: 0;
}
.top-left-tong {
  display: flex;
  flex-direction: column;
  width: 120%;
}
.top-left-tong hr {
  width: 40%;
  margin: auto;
}
.top-left-tong select {
  width: 62%;
  height: 40px;
  border-color: #5eb6e1;
  border-width: 2px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.top-left-tong .input1 {
  width: 60%;
  height: 40px;
  margin-bottom: 30px;
  border-color: #5eb6e1;
  border-width: 2px;
}
.top-left-tong .input2 {
  width: 60%;
  height: 100px;
  border-color: #5eb6e1;
  border-width: 2px;
}
.contactus-top-right {
  width: 50%;
  background-image: url('/images/female-bodybuil.png');
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  margin: 0;
  margin-left: 5%;
}
.top-left-tong button {
  width: 60%;
  height: 40px;
  font-size: 15px;
  background-color: rgb(94, 182, 225);
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-left-tong ul i {
  margin-right: 30px;
  color: rgb(94, 182, 225);
}

/* dsds */
.contactus-main {
  height: auto;
  width: 100%;
}
.main-tag-tong {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-tag {
  width: 350px;
  height: 200px;
}
.contactus-main-center-line {
  display: flex;
}
.contactus-main-center-line i {
  margin: 0 15px 0 0;
  padding: 0;
  color: #5eb6e1;
}
.contactus-main-center-ul i {
  color: #5eb6e1;
  margin-left: 10px;
}
.contactus-main-center-line p {
  margin: 0;
  padding: 0;
}
/*  */
.container1 {
  display: flex;
  justify-content: content;
  margin: 0 auto;
  flex-direction: column;
}
.tag {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.container1 p {
  margin: 3px;
  height: 25px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px 15px;
}

.container1 p:hover {
  background-color: #5eb6e1;
  color: white;
  border: none;
}
.contactus-footer1 {
  width: 100%;
  height: 50px;
  background-color: #5eb6e1;
  color: black;
  display: flex;
}
.contactus-footer1 ul {
  display: flex;
}
.contactus-footer1 ul li {
  text-decoration: none;
  list-style: none;
  margin: 20px;
}
.contactus-footer2 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: #5eb6e1;
}
.popup_close {
  font-size: 40px;
  position: absolute;
  color: orangered;
  top: 0;
  right: 0;
}
