*{
    margin: auto;
    padding: 0;
    max-width: 1520px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 50px;
    width: 100%;
    background-color: white;
}
.top-left img{
    width: 100px;
    height: 40px;
}
.top-center ul{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.top-center ul li{
    list-style: none;
    margin: 10px 25px;
}
.top-center ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.main{
    width: 100%;
    height: 916px;
    background-image: url('/image/girl-resting-af.png');
    background-position: 100%;
    left: -25%;
    color: white;
}
.main-content{
    position: relative;
    left: 10%;
    top:30%;
    font-size: 20px;
}
.main-h{
    opacity: 0.75;
}
.main-button1{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(94, 182, 225);
    border: none;
    border-radius: 5px;
}
.main-left{
    width: 30px;
    height: 100px;
    background-color:white;
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.main-left i{
    border-top: 1px solid black;
    display: flex;
    color: grey;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}
.down{
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-product{
    width: 350px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.aa{
    background-image: url(/image/Group\ 135.png);
}
.bb{
    background-image: url(/image/strong-athletic.png);
}
.cc{
    background-image: url(/image/muscular-attrac.png);
}
.down-product-button1{
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 108, 44);
    border: none;
}
.down-product-button2{
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    background-color: rgb(148, 91, 159);
    border: none;
}
.down-product-button3{
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    background-color: #5eb6e1;
    border: none;
}
.down-product-p{
    opacity: 0.75;
}
.aboutus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
}
.aboutus-left{
    width: 30%;
    margin: 60px;
    height: 29%;
}
.aboutus-left-h{
    color: rgb(255, 108, 44);
}
.aboutus-left-h1{
    margin-bottom: 10px;
}
.aboutus-left-p1{
    margin-bottom: 10px;
    color: rgb(255, 108, 44);

}
.aboutus-left-p2{
    margin-bottom: 10px;
}
.aboutus-left-button1{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(94, 182, 225);
    border: none;
    border-radius: 5px;
}
.aboutus-right{
    display: flex;
    align-items: center;
    width: 40%;
    margin-right: 65px;
}
.aboutus-right img{
    margin: 20px;
    height: 300px;
}
a{
 text-decoration: none;   
}
.clasess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(21, 21, 21);
    width: 100%;
}
.clasess hr{
    width: 20%;
}
.clasess-top{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.clasess-top p {
    margin-top:30px;
    width: 700px;
    text-align: center;
}
.services{
    width: 1520px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.single-img{
    display: flex;
    width: 506px;
    height: 400px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: .3s;
    margin: 0;
    padding: 0;
}
.img-1{
    background-image: url(/image/fit-young-wo.png);
    background-size: cover;
    background-position: center;
}
.img-2{
    background-image: url(/image/woman-doing-exe.png);
    background-size: cover;
    background-position: center;
}
.img-3{
    background-image: url(/image/fitness-days-go.png);
    background-size: cover;
    background-position: center;
}
.img-4{
    background-image: url(/image/woman-exercisin.png);
    background-size: cover;
    background-position: center;
}
.img-5{
    background-image: url(/image/senior-woman-do.png);
    background-size: cover;
    background-position: center;
}
.img-6{
    background-image: url(/image/keep-holding-go.png);
    background-size: cover;
    background-position: center;
}
.img-text{
    background: rgb(68, 69, 69);
    opacity: 0.75;
    padding: 0 10px 5px 10px;
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(0, 215px);
    line-height: 25px;
    transition: 0.5s ease;
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.img-text hr {
    width: 25%;
    color:white;
    background: rgb(255, 255, 255);
    position: absolute;
}
.img-text h4{
    line-height: 15px;
    padding: 0;
    margin: 16px 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
}
.services button{
    background: white;
    color: black;
    padding: 10px 35px;
    border: none;
    border-radius: 50px;
    line-height: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.single-img:hover .img-text{
    transform: translate(0 , -30%) ;
    background: rgb(79, 159, 233);
    opacity: 0.75;
    margin: 0 0 0 100px;
    width: 280px;
}
.meet{
    width: 1520px;
    max-width: 1520px;
    height: 916px;
}
.meet-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.meet-header-p{
    width: 700px;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.75;
}
.meet-header-h{
    margin-bottom: 40px;
    font-size: 40px;
}
.meet-header-h hr{
    width: 25%;
    background-color: #5eb6e1;
}
.meet-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.meet-main-product{
    width: 250px;
    height: 350px;
    margin: 20px;
}
.meet-main-product-top{
    background-image: url(/image/brunette-woman-.png);
    width: 250px;
    height: 70%;
    background-size: cover;                     
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center; 
}
.meet-main-product-down{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 1px gray;
    width: 250px;
    height: 30%;
}
.meet-main-product-down p{
    opacity: 0.75;
}
.meet-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.meet-footer-button{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(94, 182, 225);
    border: none;
    border-radius: 5px;
}
.testmonial{
    width: 1520px;
    height: 916px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.testmonial-al{
    background-color: rgb(24, 26, 31);
    height: 600px;
    width: 1520px;
    margin-top: 100px;
   
}
.testmonial-al1{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.testmonial-p{
    width: 500px;
}
.testmonial-p{
    opacity: 0.75;
    margin-bottom: 30px;
}
.testmonial-h{
    margin-bottom: 30px;
}
.testmonial-footer{
  
}
.testmonial-footer img{
    width: 60px;
    height: 60px;
}
.testmonial-footer .foot{
    opacity: 0.75;
}
.testmonial-h hr{
    width: 20%;
    background-color: red;
    
}
